<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header"); -%>
  <body>
    <%- include("layouts/navbar"); -%>

    <div class="container">
      <div class="content">
        <div class="inner-content">
          <% for (let i = 0; i < blogposts.length; i++) { %>
          <div class="post-preview">
            <a href="post.html">
              <h2><%= blogposts[i].title %></h2>
              <h3><%= blogposts[i].body %></h3>
            </a>

            <p>Posted By <a href="#">Start Bootstrap</a> on 09/24/2023</p>
          </div>

          <% } %>
        </div>
      </div>
      <h1>Home Page, welcome to Node js</h1>
    </div>

    <%- include("layouts/footer"); -%> <%- include("layouts/scripts"); -%>
  </body>
</html>
